[Unit]
Description=Lapse Screen Recorder Daemon
After=graphical-session.target

[Service]
ExecStart=/usr/bin/lapse --daemon
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
